{% extends 'base.html' %}

{% block content %}
<div class="container">

<h1> Weather </h1>

  <p>Where would you like to get the weather for?</p>
  <form action="current" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
  </form>

  {% if weather %}

  <h2> Current Weather {% if location %} in {{ location }} {% endif %} {% if weather %} - {{ weather.date }} {% endif %}</h2>

  <p>Description: {{ weather.description }}<br>
     Temp: {{ weather.temp }}<br>
     Feels Like: {{ weather.feels_like }}<br>
     Sunrise: {{ weather.sunrise }}<br>
     Sunset: {{ weather.sunset }}<br>
     Wind: {{ weather.wind }} mph<br>
     Pressure: {{ weather.pressure }} hPa<br>
     Humidity: {{ weather.humidity }}%<br>
     Dewpoint: {{ weather.dew_point }}<br>
     Visibility: {{ weather.visibility }} miles</p>

{% endif %}

</div>

{% endblock %}
